/*CSS reset*/
* {
    padding: 0;
    margin: 0;
}

:root {
    /*Colors */

    /*Primary*/
    
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);
    
    /*Neutral*/
    
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}

/*tags*/
body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    /*barlow-semi-condensed-500 */
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    background-color: var(--grey-100);
}

/*classes*/
.barlow-semi-condensed-600 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.card {
    display: grid;
    gap: 2vh 2vw;
    padding: 4vh 2vw;
    background-color: var(--white);
    border-radius: 1em;
    box-shadow: 3em 5em 3em var(--grey-200);
}

.img-cont {
    display: grid;
    grid: 1fr / auto-flow;
    gap: 1vh 1vw;
    align-items: center;
    justify-content: start;
 }

.avatar {
    width: 2vw;
    border-radius: 50%;
}

/*id's*/
#tm-container {
    display: grid;
    grid: repeat(2, auto) / repeat(4, minmax(130px, auto));
    width: 80vw;
    gap: 2.7vh 2vw;
    margin: 2vh 2vw;
}

#daniel {
    order: 1;
    grid-column: span 2;
    color: var(--purple-50);
    background-color: var(--purple-500);
    .avatar {
	border: 2px solid var(--purple-300);
    }
}

#jonathan {
    order: 2;
    color: var(--grey-100);
    background-color: var(--grey-500);
}

#kira {
    order: 3;
    grid-row: span 2;
    color: var(--grey-500);
}

#jeanette {
    order: 4;
    color: var(--grey-500);
}

#patrick {
    order: 5;
    grid-column: span 2;
    color: var(--grey-200);
    background-color: var(--dark-blue);
    .avatar {
	border: 2px solid var(--purple-500);
    }
}

@media screen and (max-width: 667px) {
    .card {
	gap: 2em;
	padding: 2em;
    }
    
    #tm-container {
	grid: auto-flow / 1fr;
	gap: 2em;
	padding: 1em;
    }

    #daniel, #patrick {
	grid-column: span 1;
    }

    #kira {
	order: 5;
    }
}
