/*CSS reset*/
* {
    padding: 0;
    margin: 0;
}

:root {
    /*Colors */

    /*Primary*/
    
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);
    
    /*Neutral*/
    
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}

/*tags*/
body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;

    /*barlow-semi-condensed-500 */
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    background-color: var(--grey-100);
}

/*classes*/
.barlow-semi-condensed-600 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.card {
    display: grid;
    gap: 2vh 2vw;
    padding: 2vh 2vw;
    background-color: var(--white);
    border-radius: 1em;
    box-shadow: 3em 5em 3em var(--grey-200);
}

.img-cont {
    display: grid;
    grid: 1fr / auto-flow;
    gap: 1vh 1vw;
    align-items: center;
    justify-content: start;
 }

.avatar {
    width: 30px;
    border-radius: 50%;
}

.bio-cont {
}

.user-name {
}

.user-title {
}

.t-header {
}

.t-text {
}

/*id's*/
#tm-container {
    display: grid;
    /*align-items: center;*/
    grid: repeat(2, auto) / repeat(4, minmax(130px, 250px));
   /*gap: 2em 2.5em;*/
    gap: 2vh 2vw;
    margin: 2vh 2vw;
}

#daniel {
    order: 1;
    grid-column: span 2;
    color: var(--purple-50);
    background-color: var(--purple-500);
}

#jonathan {
    order: 2;
    color: var(--grey-100);
    background-color: var(--grey-500);
}

#kira {
    order: 3;
    grid-row: span 2;
    color: var(--grey-500);
}

#jeanette {
    order: 4;
    color: var(--grey-500);
}

#patrick {
    order: 5;
    grid-column: span 2;
    color: var(--grey-200);
    background-color: var(--dark-blue);
}
